[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gracebarnett
	email = 147445402+gracebarnett@users.noreply.github.com
